<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <!-- <h1 style="text-align: center;">Welcome to Home Page</h1> -->
    <p style="text-align: center;">
        <a href="/my-express-app/Hero/index1.html" target="_blank" style="text-decoration: none; color: #472dbb;">Go to Hero Page</a>
    </p>
</body>
</html>
